@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #2f3136;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

#logo {
    text-align: center;
    color: #7289da;
    width: 50vw;
    max-width: 30rem;
    min-width: 20rem;
    margin-top: 10vh;
}

label {
    color: #7289da;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

/* Textarea i/o */
textarea {
    height: 12vh;
    width: 50vw;
    max-width: 70rem;
    min-width: 20rem;

    border-radius: 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: large;

    resize: none;

    padding: 10px;

    border: 1px solid black;
    color: whitesmoke;
    background: #36393f;
    outline: none;
    
}

textarea:hover {
    border: 1px solid #7289da;
    transition: 0.5s;
}

textarea:focus {
    border: 3px solid #7289da;
    transition: 0.5s;
}

/* Botão COPIAR */
#button-copy {
    background: #7289da;
    font-size: larger;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 50vw;
    max-width: 50rem;
    color:white;
}

#button-copy:active {
    border: 1px solid #7289da;
}

small {
    color: white;
}
